.form-window {
    width: 56%;
    margin-left: 22%;
    background: #1a1b20;
    position: relative;
    height: auto;
    z-index: 4;
    padding: 10px 1%;
    margin-top: 6vh;
    margin-bottom: 5vh;
    border-radius: 2px;
    overflow: hidden;
}

.form-window header {
    padding: 10px 1vw;
    display: flex;
    width: 100%;
    background: #1a1b20;
    z-index: 2;
    position: sticky;
    top: -10px;
}

.form-window header i {
    font-size: 1.3em;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 4px;
}

.form-window header h4 {
    font-weight: 400;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 24px;
    width: 65%;
    margin: 0;
    color: inherit;
    background: #2b2c31;
}

.form-window main {
    padding: 0px 1vw 20px 1vw;
}

@media (max-width: 800px) {
	.form-window {
		width: 100%!important;
		margin: 0!important;
		padding: 20px 3%!important;
		border: 0;
		border-radius: 0!important;
        min-height: 100vh;
	}
	.form-window header {
		border: 0 !important;
		padding: 10px 0!important;
	}
	.form-window header h4 {
		font-size: 15px!important;
	}
}