.form-window {
    width: 60%;
    margin-left: 22%;
    background: var(--background);
    position: relative;
    height: auto;
    z-index: 4;
    padding: 10px;
    margin-top: 6vh;
    margin-bottom: 5vh;
    border-radius: 2px;
    overflow: hidden;
}

.form-window header {
    padding: 10px 1vw;
    display: flex;
    width: 100%;
    background: transparent;
    z-index: 2;
    position: sticky;
    top: -10px;
	color: var(--color);
}

.form-window header i {
    font-size: 1.3em;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 6px;
}

.form-window header h4 {
    font-weight: 400;
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 24px;
    width: 65%;
    margin: 0;
    color: inherit;
    background: var(--middle-background);
}

.form-window .simple-form .send-btn {
	background: var(--light-background);
}

.form-window main {
    padding: 0px 1vw 20px 1vw;
}

.form-window .color-select-win {
	background: var(--transparent-background);
	height: 48px;
	margin-top: -52px;
}

.tag-search-block .selected-tags li {
	background: var(--middle-background);
}

.form-window .form-delete-btn {
	font-size: 12px;
}

.form-window .textarea-block {
	height: auto;
}

.form-window .editor-textarea {
	height: auto;
}

.form-window .smiles-block {
	height: 100%;
}


@media (max-width: 800px) {
	.form-window {
		width: 100%!important;
		margin: 0!important;
		padding: 20px 3%!important;
		border: 0;
		border-radius: 0!important;
        min-height: 100vh;
	}
	.form-window header {
		border: 0 !important;
		padding: 10px 0!important;
	}
	.form-window header h4 {
		font-size: 14px!important;
		padding: 6px 10px;
	}
}