.room-page {
    padding: 0 15% 20px 15%;
	background: var(--dark-background);
	min-height: 100vh;
}

.room-page .not-found-title {
	padding: 20px 0;
	margin: 0;
	font-weight: 500;
}

.room-page .room-scroll-header-opened {
	display: block!important;
}

.room-page .room-scroll-header {
	display: none;
	position: fixed;
	background: var(--transparent-background);
    width: 70%;
    top: 60px;
    z-index: 2;
    left: 15%;
	font-size: 15px;
    border-bottom: 1px solid var(--transparent-border);
	cursor: pointer;
	font-size: 15px;
    font-weight: 400;
    padding: 10px 12px;
	color: var(--color);
}

.room-page .room-cover {
    height: 36vh;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
	border: 0;
	outline: 0;
    object-fit: cover;
}
.room-page .room-header {
    height: auto;
    background: transparent;
    position: relative;
    margin-bottom: 0;
}

.room-page .room-header img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	display: none;
}
.room-page .room-header .cite-title {
	display: block;
	margin-top: 30px;
	margin-bottom: 25px;
}
.room-page .room-header h2 {
	font-weight: 500;
	font-size: 1.3em;
	display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
	border: 1px solid var(--transparent-border);
	background: var(--transparent-background);
}
.room-page .room-header .white {
	color: var(--color)!important;
}
.room-page .room-header .black {
	color: var(--color)!important;
}
.room-page .room-header .gray {
	color: var(--color)!important;
}
.room-page .room-header p {
	font-size: .95em;
}
.room-page .room-header .author {
	margin-bottom: 10px;
	display: flex;
}
.room-page .room-header .author img {
	height: 24px;
	width: 24px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 6px;
	background: var(--DA);
}
.room-page .room-header .author .name {
	color: #328eb5;
	font-size: .95em;
	margin-top: 3px;
	font-weight: 400;
}
.room-page .room-header .date {
	color: rgba(0,0,0,.7);
	font-size: .87em;
	margin-top: 5px;
	margin-left: 8px;
}
.room-page .room-header .icons {
	position: absolute;
	top: 210px;
	right: 10px;
}
.room-page .room-header .icons ul{
	display: flex;
	margin-top: 5px;
	font-size: 1.15em;
}
.room-page .room-header .icons li {
	margin-right: 0;
	color: white;
	color: rgba(0,0,0,.8);
	background: rgba(255,255,255,0);
	padding: 4px 0;
	height: 28px;
	width: 28px;
	border-radius: 50%;
}

.room-tags-aside {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	position: absolute;
	right: 40px;
	top: 240px;
	padding: 0 20px;
	width: 12%;
	list-style: none;
}
.room-tags-aside .tag {
	background: var(--light-background);
	padding: 4px 6px;
	border-radius: 3px;
	margin-right: 8px;
	font-size: .8em;
	margin-bottom: 8px;
	display: block;
	color: var(--color);
}

.room-header .options {
	padding: 5px;
	margin-bottom: 5px;
	width: auto;
	display: inline-block;
	font-size: .8em;
	border-radius: 3px;
    color: var(--color);
	border: 1px solid var(--transparent-border);
	background: var(--transparent-background);
}

.room-header .options i {
	margin-left: 6px;
	font-size: 1.15em;
}
.room-header .options-field {
	position: relative;
	display: inline-block;
}
.room-header .options-btn {
	width: auto;
	cursor: pointer;
	user-select: none;
	padding: 0 5px;
}
.room-header .options-block {
	width: auto;
    position: absolute;
    padding: 8px;
    margin-top: 8px;
	background: var(--transparent-background);
    z-index: 1;
    border-radius: 3px;
    left: -5px;
	min-width: 150px;
}
.room-header .options-block ul li {
	cursor: pointer;
	user-select: none;
}

/* блок ответа */

.answers {
	position: relative;
}
.first-answer .answer {
	border-radius: 3px!important;
}
.first-answer .answer-text {
	padding-bottom: 0!important;
}
.first-answer .answer .text {
	padding-bottom: 0!important;
}
.answers .answer:first-child {
	border-radius: 0 0 3px 3px;
}
.new-answers .answer:first-child {
	border-radius: 0 0 3px 3px;
}
.answer iframe{
	max-width: 100%!important;
	height: auto;
	border-radius: 3px;
}
.answer img {
    max-width: 100%;
}
.answer .open-block img {
    max-width: 100%;
}
.answer h3 {
	font-weight: 500;
	margin: 6px 0;
}
.answer h2 {
	font-weight: 500;
	margin: 6px 0;
}
.answer h1 {
	font-weight: 500;
	margin: 10px 0;
}
.answer h4 {
	font-weight: 500;
	margin: 12px 0;
}
.answers .show-more {
    user-select: none;
    text-align: center;
    margin: 0 0 15px auto;
    color: var(--color);
    cursor: pointer;
    width: 100%;
    display: inline-block;
    font-size: 13px;
    padding: 8px 15px;
    font-weight: 400;
    border-radius: 3px;
	background: var(--background);
	opacity: .9;
    border: 0;
}
.answers .show-more:hover {
    color: var(--pale-color);
}
.answer {
	height: auto;
	width: 100%;
	background: var(--middle-background);
	margin-bottom: 5px;
	border-radius: 3px;
	padding: 10px 10px;
	position: relative;
	display: flex;
}
.answer .answer-text {
    padding: 15px 0 20px 0;
    font-size: 13px;
	line-height: 1.3em;
	color: var(--color);
}
.answer .answer-text a {
    text-decoration: underline;
    color: #6694a2;
}
.answer .answer-text .smile {
	height: 24px!important;
    width: 24px!important;
    object-fit: contain;
    margin: 0 3px!important;
    user-select: none!important;
    vertical-align: middle!important;
}
.new-answers .new-answer {
    background: #3a3a41;
}
.answers .new-answer-btn {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 60px;
    left: 10%;
    padding: 3px;
    color: rgba(253,239,161,.6);
    font-size: 1.2em;
    z-index: 2;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgba(253,239,161,.2);
    background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
}
.answers-header {
    margin-top: 5px;
    padding: 25px 15px 25px 15px;
    background: var(--middle-background);
	border-radius: 3px 3px 0 0;
}
.answers-header h3 {
	font-weight: 500;
	margin: 0;
	font-size: 1.05em;
	color: var(--color);
}
.answers-header .filter {
    font-size: .85em;
    float: right;
    cursor: pointer;
    user-select: none;
	color: var(--pale-color);
}
.answer div {
	border: 1px solid transparent;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    margin: 0;
}
.answer .author {
    color: #acacac;
	margin-top: 0;
	width: 20%;
	text-align: center;
	cursor: pointer;
}
.author .name {
	font-weight: 500;
}
.answer .text {
	width: 80%;
	padding: 0 0 25px 1%;
	word-wrap: break-word;
}
.delete-btn {
	font-size: .8em;
	color: var(--color);
	cursor: pointer;
	width: 100%;
	text-align: right;
}
.delete-btn i {
	margin-right: 3px;
	font-size: 1.1em;
}
.delete-btn:hover {
	color: var(--active-color);
}
.answer .author .avatar {
	height: 60px!important;
	width: 60px!important;
	object-fit: cover;
	border-radius: 50%;
	margin-top: 30px!important;
	margin-bottom: 10px!important;
	user-select: none;
	float: none!important;
}

.answer .author .base-avatar {
	display: none;
}
.answer .author-info {
	margin-top: 4px;
	font-size: 13px;
	word-wrap: break-word;
	margin-bottom: 15px;
}

.answer .author-info span {
	font-weight: 500;
}

.night-mode .answer .author-info .black {
	color: white!important;
}

.day-mode .answer .author-info .white {
	color: black!important;
}

.answer .answer-header {
    padding: 0 0 4px 0;
    border-bottom: 1px solid var(--transparent-border);
	display: flex;
	justify-content: space-between;
	color: var(--color);
    font-size: 13px;
}
.answer .answer-header .header-btns {
	display: flex;
}
.answer .answer-header .header-btns .btn {
	margin: 0 0 0 15px;
	cursor: pointer!important;
	background: transparent;
	border: 0;
    color: inherit;
    font-family: inherit;
}
.answer .answer-header .btn {
	background: transparent!important;
	margin: 0;
	font-size: 1em!important;
	user-select: none;
	background: transparent;
	border: 0;
    color: inherit;
    font-family: inherit;
}
.answer .answer-header .btn:first-child {
	cursor: inherit;
}
.answer p {
	font-size: 13px;
	margin: 0;
}
.answer .answer-illustration {
    max-width: 100%;
    margin: 10px 0;
}
.answers .answer .otvet {
	font-size: 13px;
	background: #2b2c31;
	padding: 4px 7px;
	height: 18px;
}
.answer .answer-btns {
	position: absolute;
	bottom: 10px;
	padding: 0;
}
.answers .answer .btn {
	margin-right: 8px;
	font-size: .8em;
	background: var(--middle-background);
	padding: 4px 5px;
	display: inline;
	cursor: pointer;
	border-radius: 2px;
	color: var(--pale-color);
}
.answers .answer .answer-header .btn:first-child {
	padding-left: 0;
}
.answers .answer .answer-header .btn:last-child {
	padding-right: 0;
}
.answers .answer .btn img {
    height: 14px;
}
.answers .answer .like:first-child {
	margin-left: 0;
}
.answers .answer .menu {
	position: absolute;
	top: 15px;
	right: 15px;
	color: rgba(0,0,0,.4);
}
.answer-input .send-btn {
    border-radius: 3px;
    background: var(--dark-background);
    color: var(--color);
    padding: 8px 20px;
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: inherit!important;
    cursor: pointer;
	border: 0;
	width: auto;
}

.answer-input .send-btn i {
	display: none;
}
.answer-input .send-btn:after {
	content: ' Отправить';
}
.answer-form-field {
	position: relative;
}
.btn-hider {
	background: var(--middle-background);
    height: 45vh;
    width: 30vw;
    left: -15.5vw;
    position: absolute;
    z-index: 3;
    bottom: 0;
}


.room-page .answer-input {
	padding: 15px;
	margin-top: -2px;
	background: var(--middle-background);
}
/* для ответа в окне */
.small-window .answer {
	background: transparent;
	padding: 0;
}

.new-items-section {
	padding: 25px 0;
	padding-bottom: 20px;
}

.new-items-section h3 {
	font-weight: 600;
	font-size: 1.9em;
	margin-bottom: 25px;
}

.day-mode .new-items-section h3 {
	color: #aaadb9;
}

.night-mode .new-items-section h3 {
	color: #3e3f44;
}

.new-items-section ul li {
	font-size: .95em;
	margin-bottom: 5px;
	color: var(--color);
}

.new-items-section ul li a:hover {
	text-decoration: underline;
}

@media (max-width: 800px) {
	.room-page {
		padding: 0 1% 10px 1%;
	}
	
	.room-page .room-scroll-header {
		width: 100%;
		left: 0;
		font-size: 15px;
		padding: 12px 8px;
		top: 60px;
		border-top: 0;
	}
	
	.answers-header {
		padding: 10px;
		padding-bottom: 20px;
	}

	.answer {
		display: block;
	}

	.answer .answer-header {
		margin-bottom: 10px;
		display: flex;
		font-size: 12px;
		padding-bottom: 0;
	}

	.answer .author {
		width: 100%;
		color: #acacac;
		margin-top: 0;
		padding: 0;
		margin-bottom: 0;
		text-align: left;
		display: flex;
	}

	.answers .answer .author .author-info {
		padding: 0 8px;
	}

	.answer .text {
		width: 100%;
		padding: 5px 0;
	}

	.answer .answer-text {
		padding: 0 0 30px 0;
	}

	.room-header .options-block ul li {
		padding: 3px 0;
	}

	.room-page .answer-input {
		z-index: 2;
		margin-top: -2px;
		margin-bottom: 8px;
		padding: 8px;
	}
	
	.answer-input .textarea-block {
		margin-bottom: 0!important;
	}

	.answer-input .send-btn {
		width: 100%;
        background: transparent;
        color: var(--color);
        width: 38px;
        height: 38px;
        border-radius: 0;
		position: absolute;
		top: 9px;
		right: 9px;
		font-size: 1.2em;
		padding: 0;
		margin: 0;
	}
	.answer-input .send-btn i {
		display: inline;
	}
	
	.answer-input .send-btn:after {
		content: "";
	}
	
	.answer-input .i-btn {
		position: absolute;
        bottom: 12px;
        right: 12px;
		border: 0;
        background: var(--background);
		padding: 6px;
		font-size: 1.15em;
	}

	.btn-hider {
		display: none;
	}
	
	.answer .answer-header .btn:first-child {
		padding-top: 3px;
		margin-left: 0;
		padding-left: 0;
	}
	
	.answer .answer-header .btn:last-child {
		margin: 0 0 0 8px;
	}

	.answer .answer-header {
		display: flex;
	}

	.answer .author .avatar {
		height: 30px !important;
		width: 30px !important;
		margin-top: 0 !important;
		margin-bottom: 10px;
	}
	
	.answer .author .base-avatar {
		display: block;
	}
	
	.answers .show-more {
		width: 100%;
		padding: 8px 10px;
		margin-top: 3px;
		text-align: left;
	}
	
	.new-items-section {
		margin-top: 10px;
		padding: 0 0 0 10px;
		padding-bottom: 60px;
	}
}