.rooms-main {
	height: auto;
}
.rooms-main .cite-top {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    background: var(--dark-background);
    height: 410px;
}
/* main room carousel */
.rooms-main .cite-top .carousel {
	width: 68%;
	position: relative;
}
.rooms-main .cite-top .info-btn {
	width: 100%;
	padding: 10px;
}
.rooms-main .cite-top .rating-aside-field {
	display: flex;
	width: auto;
	height: auto;
	padding: 5px 5px;
	position: absolute;
	right: 5px;
	bottom: 23px;
}
.rooms-main .cite-top .rating-aside-field .rating-grade {
	color: var(--active-color);
	font-size: .9em;
	margin-top: 1px;
	margin-left: 8px;
}
.rooms-main .cite-top .rating-aside-field .rating-arrow {
	font-size: 1.1em;
	margin-top: 0;
	margin-right: 5px;
	color: var(--pale-color);
	display: block;
}
.rooms-main .cite-top .rating-block {
	font-size: 1.3em;
    width: 115px;
	margin-left: 0;
	position: relative;
	color: #f6b251;
}
.rooms-main .cite-top .rating-block .null-rating-block {
	z-index: 1;
	position: relative;
	background: transparent;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	opacity: .5;
	cursor: pointer;
}
.rooms-main .cite-top .rating-block .star-list {
	top: 0;
	overflow: hidden;
	position: absolute;
	z-index: 0;
	height: 100%;
}
.rooms-main .cite-top .rating-block .show-rating {
    z-index: 0;
	width: 115px;
	display: flex;
	justify-content: space-between;
}
.rooms-main .cite-top .header-text {
    position: relative;
    border-radius: 0 0 3px 3px;
    padding: 10px;
	margin: 0;
	height: 60px;
	bottom: 60px;
    background: rgba(26,27,32,.5);
}
.day-mode .rooms-main .cite-top .header-text {
    background: rgb(255,255,255,.5);
}
.night-mode .rooms-main .cite-top .header-text {
    background: rgba(26,27,32,.5);
}
.rooms-main .cite-top h1 {
    font-weight: 500;
    font-size: 1em;
	margin: 0;
	display: inline-block;
	color: var(--active-color);
}
.rooms-main .cite-top h1 i {
	color: #888;
	font-size: .9em;
}

.rooms-main .cite-top .carousel .toggles {
	position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 30px;
    left: 0;
}
.rooms-main .cite-top .carousel .toggles .toggle {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	margin-right: 5px;
	transition-duration: .2s;
	cursor: pointer;
	background: #c2c2c4;
}
.day-mode .rooms-main .cite-top .carousel .toggles .toggle {
	background: #8c8c8c;
}
.night-mode .rooms-main .cite-top .carousel .toggles .toggle {
	background: #c2c2c4;
}
.rooms-main .cite-top .carousel .toggles .active {
	height: 8px;
	width: 26px;
	border-radius: 10px;
	transition-duration: .2s;
	background: white;
}
.day-mode .rooms-main .cite-top .carousel .toggles .active {
	background: #393b3c;
}
.night-mode .rooms-main .cite-top .carousel .toggles .active {
	background: white;
}
.rooms-main .cite-top .carousel .picture {
	width: 100%;
    height: 320px;
    object-fit: cover;
    z-index: 0;
	border-radius: 3px;
	display: block;
    filter: brightness(85%);
}
.day-mode .rooms-main .cite-top .carousel .picture {
    filter: brightness(100%);
}
.night-mode .rooms-main .cite-top .carousel .picture {
    filter: brightness(85%);
}
.rooms-main .cite-top .carousel .picture-block {
	width: 100%;
    height: 320px;
	background: var(--middle-background);
	border-radius: 3px;
}
/* aside */
.rooms-main .cite-top .aside {
	width: 30%;
	position: relative;
	height: 320px;
}
/* info block */
.rooms-main .cite-top .info-block {
    width: 100%;
    height: auto;
    padding: 10px;
	background: transparent;
    font-size: .95em;
	border-radius: 2px;
	position: relative;
    border: 1px solid var(--transparent-border);
}
.day-mode .rooms-main .cite-top .info-block {
    border: 1px solid #cfcece;
}
.night-mode .rooms-main .cite-top .info-block {
    border: 1px solid var(--transparent-border);
}
.rooms-main .cite-top .info-block:hover {
	border: 1px solid;
	top: 0;
	left: 0;
	border-image: conic-gradient(from var(--angle), rgb(41 128 185 / 32%), rgb(109 213 250 / 44%), rgb(255 255 255 / 8%)) 1;
	animation: .5s rotate linear;
}
@keyframes rotate {
	to {
		--angle: 360deg;
	}
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.rooms-main .cite-top .info-block p {
	font-size: .88em;
	margin: 0;
	line-height: 1.5em;
	color: var(--pale-color);
	cursor: inherit;
	user-select: none;
}
.rooms-main .cite-top .transparent-btn {
	width: 100%;
	padding: 8px 10px;
	margin-top: 10px;
	background: transparent;
	font-size: .8em;
	border-radius: 2px;
	transition: .4s;
	color: var(--pale-color);
}
.day-mode .rooms-main .cite-top .transparent-btn {
	border: 1px solid #cfcece;
}
.night-mode .rooms-main .cite-top .transparent-btn {
	border: 1px solid rgba(255, 255, 255, 0.05);
}
.day-mode .rooms-main .cite-top .transparent-btn:hover {
	border: 1px solid #888;
}
.night-mode .rooms-main .cite-top .transparent-btn:hover {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	border-right: 1px solid rgba(255, 255, 255, 0.15);
	color: #a7a4a4;
}
.rooms-main .cite-top .transparent-btn i {
	margin-right: 5px;
}
.rooms-main .alone-info-btn {
	margin: 0 20px;
}

/* список комнат */

.main-room-list {
	display: flex;
	margin-bottom: 0;
	width: 100%;
	padding: 20px 15% 50px 15%;
	position: relative;
	background: var(--background);
	height: auto;
	min-height: 200px;
}
.main-room-list .room:last-child{
	margin-right: 0;
}
.main-room-list .room {
	width: 100%;
	height: 120px;
	font-size: .95em;
	margin-right: 2%;
	position: relative;
}
.main-room-list .room img {
	width: 100%;
	height: 120px;
	object-fit: cover;
	margin-right: 15px;
	z-index: 0;
	border-radius: 2px;
}

.night-mode .main-room-list .room img {
	filter: brightness(85%);
}

.main-room-list .room h4 {
	padding: 0 6px;
	font-weight: 500;
	font-size: 13px;
	position: absolute;
	bottom: -10px;
	z-index: 1;
	word-wrap: break-word;
	user-select: none;
	background: var(--transparent-span);
	color: var(--active-color);
    max-width: 100%;
}

@media (max-width: 800px) {
	.rooms-main .cite-top {
		padding-top: 0;
		display: block;
		height: 420px;
		margin-bottom: 30px;
	}

	.rooms-main .cite-top .carousel {
		width: 85%;
	}

	.rooms-main .cite-top .sections-btn {
		width: 15%;
		position: relative;
		text-align: center;
		float: right;
		height: 100%;
		color: var(--color);
	}

	.rooms-main .cite-top .sections-btn i {
		margin-top: 120px;
		font-size: 2em;
	}

	.rooms-main .cite-top .carousel .picture {
		border-radius: 0;
		opacity: .95;
		height: 350px;
	}

	.rooms-main .cite-top .header-text {
		padding: 20px 0;
		margin-top: 0px;
		border-radius: 0;
	}

	.rooms-main .cite-top h1 {
		position: absolute;
		background: transparent;
		top: 5px;
		left: 5%;
		margin: 0;
		font-size: 1em;
	}

	.rooms-main .cite-top .aside {
		width: 85%;
	}

	.rooms-main .cite-top .info-block {
		height: auto;
		padding: 15px 5%;
	}

	.rooms-main .cite-top .transparent-btn {
		height: auto;
		padding: 15px 5%;
	}

	.rooms-main .cite-top .mobile-info-block {
		position: absolute!important;
		z-index: 2;
		top: 0;
		left: 0;
		height: 420px;
		background: var(--dark-background);
		padding: 30px 3%;
	}

	.rooms-main .cite-top .carousel .toggles {
		bottom: 5px;
		left: 6%;
		justify-content: left;
	}

	.rooms-main .cite-top .rating-aside-field {
		position: relative;
		margin-top: -27px;
		width: auto;
		font-size: .95em;
		padding: 3px 5px;
		left: 3%;
	}
	.rooms-main .cite-top .rating-aside-field .rating-grade {
		color: var(--color);
	}
	.rooms-main .cite-top .rating-block .null-rating-block {
		background: transparent;
	}
	.rooms-main .cite-top .rating-aside-field .rating-arrow {
		display: none;
	}

	.main-room-list {
		height: auto;
		min-height: 0;
		overflow-x: hidden;
	}

	.main-room-list .container {
		padding: 10px 0;
		justify-content: space-between;
	}

	.main-room-list .room {
		width: 33%;
	}

	.main-room-list .room h4 {
		font-size: .8em;
		padding-left: 3px;
	}
}