.polls-page {
	height: auto;
	min-height: 95vh;
	background: var(--background);
	color: inherit;
	padding-top: 50px;
}
.night-mode .polls-page {
	background: var(--dark-background);
}
.polls-page .col1 {
	width: 30%;
	height: 100%;
	background: transparent;
	border: 0px solid rgba(255,255,255,.1);
	padding: 5px 5px;
	margin-top: -15px;
	border-radius: 4px;
	color: #C3C1C1;
}
/* шапка фильтра */
.polls-page .col1 .block-title {
	margin: 0;
	height: 70px;
	padding: 0;
}
.polls-page .col1 .block-title h4 {
	margin: 0;
	font-weight: 400;
	font-size: .85em;
	color: var(--color);
}
.polls-page .col1 .toggle {
	position: relative;
	display: flex;
	margin: 25px 0 0 0;
	font-size: .85em;
}
.polls-page .col1 .toggle .saves {
	color: #8f8f91;
	margin: 0;
}
.polls-page .col1 .toggle li {
	margin-left: 10px;
	padding-left: 0;
	color: var(--pale-color);
	width: auto;
	display: flex;
	cursor: pointer;
	user-select: none;
}
.polls-page .col1 .toggle li i {
	color: var(--pale-color);
	margin-top: 3px;
	margin-right: 2px;
	margin-left: 8px;
}
.polls-page .col1 .toggle .line {
	margin-top: 11px;
}
.polls-page .col1 .tags-block {
	background: #1a1b20;
	padding: 10px 15px;
	height: 80px;
	width: 100%;
	border-radius: 2px;
}
.polls-page .col1 .tags-block h3 {
	font-weight: 500;
	font-size: 1em;
	margin-bottom: 8px;
}
.polls-page .col1 .tags-block ul li {
	font-weight: 500;
	font-size: .95em;
	margin-bottom: 3px;
}
.polls-page .col1 .list {
	margin-top: 0;
	padding: 0;
	height: 295px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	border-radius: 3px;
	background: var(--pale-background);
}
.polls-page .col1 .list::-webkit-scrollbar {
    width: 5px;
	background: transparent;
}
.polls-page .col1 .list::-webkit-scrollbar-thumb {
	border-radius: 4px;
    background-color: #2b2c31;
}
.polls-page .col1 .list header {
	padding: 0;
	opacity: 1;
	animation: 1s;
}
.polls-page .col1 .list header ul {
	display: flex;
	font-size: .95em;
	color: black;
	width: 100%;
}
.polls-page .col1 .list header li {
	margin-right: 8px;
	border: 1px solid var(--border);
	width: 50%;
}
.polls-page .col1 .list header .active {
	font-weight: 500;
}
.polls-page .tag-search-block .selected-tags {
	margin: 2px 0;
}
.polls-page .col1 .list h3 {
	font-size: .9em;
}
.polls-page .col1 .search {
	background: var(--transparent-background);
	padding: 5px 10px;
	border-radius: 3px 3px 0 0;
	margin-bottom: 0;
	margin-top: 0;
	position: sticky;
    top: 0;
	border-bottom: 1px solid var(--transparent-border);
}
.night-mode .polls-page .col1 .search {
	background: rgb(32, 33, 38);
}
.polls-page .col1 .list .themes ul {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 105%;
	height: 100%;
}
.polls-page .col1 .list h3 {
	font-weight: 400;
	font-size: .95em;
}
.polls-page .col1 .list .themes li {
	border-bottom: 1px solid var(--transparent-border);
	cursor: pointer;
	color: inherit;
	font-size: .8em;
}
.polls-page .col1 .list .themes li:hover {
	background: var(--light-background);
}
.polls-page .col1 .list .themes li a {
	display: block;
	padding: 3px 10px;
	width: 100%;
	color: var(--pale-color);
}
.polls-page .col1 .add-btn {
	position: relative;
	margin: 0 0;
	top: -20px;
	float: right;
	color: var(--pale-color);
    background: var(--background);
	cursor: pointer;
	padding: 5px 12px;
    font-size: .8em;
}
.day-mode .polls-page .col1 .add-btn {
	background: var(--light-background);
}

.polls-page .col1 .list .show-more {
	padding: 4px 10px;
    font-size: .8em;
	color: var(--pale-color);
	cursor: pointer;
}
.polls-page .col1 .list .show-more:hover {
	background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
}

/* блок опроса */
.null-poll-img {
	height: 80px;
    width: 80px;
    object-fit: cover;
    user-select: none;
	border-radius: 50%;
}
.null-poll-icon {
	font-size: 2.1em;
	margin-top: 70px;
	color: #8f8f91;
}
.polls-page .col2 {
    width: 70%;
    padding: 0 0px 20px 60px;
    background: transparent;
    margin-top: -15px;
    height: auto;
}
.polls-page .question-field {
	text-align: left;
    position: relative;
    height: auto;
    padding: 0;
    border: 0;
    border-radius: 3px;
}

.night-mode .polls-page .question-field {
	background: var(--pale-background);
}

.day-mode .polls-page .question-field {
    background: var(--middle-background);
}

.polls-page .question-field .header {
    padding: 15px;
    color: var(--pale-color);
    border-bottom: 1px solid var(--transparent-border);
	min-height: 80px;
}
.polls-page .question-field .header h3 {
	font-size: .95em;
    margin: 0 0 15px 0;
    font-weight: 400;
    color: var(--active-color);
}
.underline {
	cursor: pointer;
	user-select: none;
}
.polls-page .question-field .question-header-info {
    font-size: 13px;
    color: #8f8f91;
    margin: 8px 0;
}
.polls-page .question-field .poll-options {
	margin-top: 0;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid var(--transparent-border);
	min-height: 50px;
}
.polls-page .sended-voice-poll li:hover {
	color: #b5b5b5!important;
}
.polls-page .question-field .poll-options ul li {
    padding: 6px 10% 5px 0;
    margin: 9px 0;
    text-align: left;
    font-size: 13px;
    border-radius: 3px;
    position: relative;
    user-select: none;
	color: var(--color);
	cursor: pointer;
}
.polls-page .question-field .poll-options .sended-voice-poll li:hover{
    text-decoration: none;
	cursor: inherit;
	color: var(--color)!important;
}
.polls-page .question-field .poll-options .empty-poll li:hover{
	cursor: pointer;
	color: var(--SO);
    text-decoration: underline;
}
.polls-page .question-field footer {
	position: relative;
	margin-top: 0;
	border-bottom: 0px solid rgba(255, 255, 255, 0.05);
	padding: 5px 15px;
	height: 90px;
}
.polls-page .question-field footer p {
    font-size: 13px;
    color: var(--color);
    margin-top: 10px;
}
.polls-page .question-field footer .revoice {
	cursor: pointer;
	user-select: none;
}
.polls-page .question-field footer .revoice:hover {
	color: var(--active-color);
	text-decoration: underline;
}
.polls-page .question-field .to-comments {
    margin: 0;
    padding: 15px;
    font-size: 13px;
    display: flex;
    cursor: pointer;
	user-select: none;
	color: var(--color);
	min-height: 30px;
}
.polls-page .question-field .to-comments i {
	margin-right: 5px;
	margin-top: 2px;
}
.polls-page .question-field .voice-send-block {
	height: 35px;
}
.polls-page .question-field .send-btn {
	display: inline-block;
	padding: 5px 8px;
	border: 0;
	background: var(--VB);
	color: white;
	margin: 12px 0 0 0;
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
}
.polls-page .poll-options ul li .progress {
	width: 100%;
	height: 2px;
	background: var(--SO);
	position: absolute;
	left: 0;
	bottom: -5px;
	border-radius: 3px;
	transition: .15s;
}
.polls-page .poll-options ul .selected-option {
	font-weight: 400;
	color: var(--SO)!important;
}
/* комментарии */
.polls-page .comments-field {
    position: relative;
    height: auto;
	overflow: hidden;
    background: rgba(38, 39, 44, 0.5);
    padding: 0;
    border: 0;
    border-radius: 3px;
}
.polls-page .comments-field .comments-header {
    font-size: 1.1em;
    margin-bottom: 5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.polls-page .comments-header h3 {
	margin-top: 14px;
	font-weight: 400;
    font-size: .9em;
}
.polls-page .comments-field .back-arrow {
	margin: 0 20px 0 0;
	float: left;
	cursor: pointer;
	padding: 10px;
	font-size: 1.3em;
}
.polls-page .comments-field .back-arrow:hover {
    background: #52779c;
}
.polls-page .comments-field .back-arrow:hover i {
	color: rgba(255,255,255,.8);
}
.polls-page .comments-field .back-arrow i {
	color: #8f8f91;
}
.polls-page .comments-field .comments-block {
	height: 360px;
	overflow: auto;
	scrollbar-width: none;
	padding: 15px 20px 10px 0;
	margin-bottom: 15px;
	margin-left: 50px;
	margin-top: 0;
}
.polls-page .comments-field .comments-block::-webkit-scrollbar {
    width: 5px;
	background: transparent;
}
.polls-page .comments-field .comments-block::-webkit-scrollbar-thumb {
	border-radius: 3px;
    background-color: #2b2c31;
}
.polls-page .comments-field .comments-block .comment-block {
	margin-bottom: 15px;
	padding-bottom: 10px;
	position: relative;
}
.polls-page .comments-field .comments-block .comment-block .delete-btn {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #808083;
	width: auto!important;
}
.polls-page .comments-field .comments-block .comment-block:hover .delete-btn {
    display: block!important;
}
.polls-page .comments-field .comments-block .comment-block .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin: 2px 5px 0 0;
}
.polls-page .comments-field .comments-block .comment-block h4 {
	font-size: .85em;
	color: inherit;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    margin-left: 45px;
    display: flex;
}
.polls-page .comments-field .comments-block .comment-block .date {
	margin-left: 5px;
    font-size: .9em;
    display: block;
    margin-top: 2px;
	color: #8f8f91;
}
.polls-page .comments-field .comments-block .comment-block .text-zone {
	font-size: .85em;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 5px;
    display: block;
    padding: 8px;
    margin-left: 45px;
	color: #acacac;
	border: 1px solid #26272c;
}

.comment-textarea {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	position: relative;
	margin-top: 10px;
}
.comment-textarea .textarea-block {
	width: 100%;
	position: relative;
	height: 100%!important;
	margin: 0!important;
	border-radius: 0 0 3px 3px;
	border: 1px solid rgba(255, 255, 255, 0.05) !important;
}
.comment-textarea textarea {
    display: none;
}
.textarea-block .comment-textarea-div-wrap {
	overflow: hidden;
	width: 100%;
}
.comment-textarea .comment-textarea-div {
	background: transparent;
	border: 0;
	padding: 5px 40px 5px 5px;
	width: 100%;
	height: 50px;
	font-size: .85em;
	color: #8f8f91;
	font-family: inherit;
	border-radius: 2px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
}
.comment-textarea .comment-textarea-div:focus {
	border: 1px solid rgba(255,255,255,.2);
	outline: 0;
}
.comment-textarea button {
	background: transparent;
	border: 1px solid #26272c;
	border-left: 0;
	padding: 9px 0;
	width: 50px;
	text-align: center;
	height: 52px;
	outline: 0;
	font-size: 1.2em;
	border-radius: 0;
}
.comment-textarea button:hover {
	border: 0;
	cursor: pointer;
	background: linear-gradient(158deg, rgba(171, 249, 251, 0.6) 0%, rgba(150, 227, 243, 0.6) 34%, rgba(141, 206, 235, 0.7) 62%, rgba(131, 185, 229, 0.8) 72%);
}
.comment-textarea .smile-btn {
	position: absolute;
	right: 15px;
	top: 14px;
}
.comment-textarea button i {
	margin: 0;
	color: #cce4ff;
}
.btn-icon {
	height: 18px;
	width: 18px;
	object-fit: contain;
	margin: 0;
	cursor: pointer;
}
.smiles-block .smile {
	cursor: pointer;
}

.polls-page .tag-search {
    background: var(--background);
}

.day-mode .polls-page .tag-search {
    background: var(--transparent-background);
}

.polls-page .error-msg {
	color: var(--pale-color);
	font-size: 13px;
}


@media (max-width: 800px) {
	.polls-page {
		padding: 0;
		margin: 0;
	}

	.null-poll-img {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 0;
		bottom: 0;
	}
	
	.null-poll-icon {
		margin-left: 10px;
		margin-top: 50px;
	}

	.poll-section-btn {
		width: 100%;
		position: absolute;
		left: 3%;
		height: 50px;
		top: 10px;
		font-size: 16px;
		z-index: 1;
	}

	.poll-section-btn i {
		font-size: 1.1em;
		margin-right: 5px;
		margin-top: 2px;
	}

	.poll-section-btn .section-title {
		font-size: 15px;
		padding: 6px 12px;
		font-weight: 400;
		display: inline-block;
		border-radius: 3px;
		color: var(--color);
		border: 1px solid var(--transparent-border);
		background: var(--gradient-background);
	}

	.polls-page .col2 {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.polls-page .question-field {
		padding-top: 50px;
		min-height: 100vh;
	}
	.polls-page .question-field p {
		font-size: 14px;
	}
	.polls-page .question-field .to-comments {
		font-size: 14px;
	}

	.polls-page .col1 {
		width: 100%;
		padding: 60px 3% 10px 3%;
	}
	.polls-page .col1 .block-title {
		height: auto;
		padding: 15px 0;
	}
	.polls-page .col1 .block-title .toggle {
		margin: 0;
	}
	.polls-page .col1 .list {
		height: 70vh;
	}
	.poll-tag-search {
		display: flex;
		justify-content: space-between;
		margin: 10px 0;
	}
	.polls-page .tag-search {
		padding: 6px 3%;
		height: auto;
		font-size: 14px;
	}
	.tag-search-block {
		width: 88%;
		margin: 0;
		display: flex;
		height: 32px;
	}
	.polls-page .col1 .add-btn {
		top: 0;
		position: relative;
		height: 35px;
		width: 35px;
		margin: 0 0 0 3%;
		padding: 8px 0;
		text-align: center;
	}
	.polls-page .comments-field {
		padding: 50px 0 30px 0;
	}
	.polls-page .comments-field {
		min-height: 95vh;
	}
}