.room-list {
	height: auto;
	min-height: 60vh;
	margin: 0;
	background: var(--background);
}
/* шапка списка комнат */
.room-list .rooms-header {
	width: 100%;
	position: relative;
	height: auto;
	padding-top: 20px;
	border-top: 1px solid var(--transparent-border);
}
.room-list .rooms-header .toggle {
	display: flex;
	justify-content: space-between;
	float: right;
}
.room-list .rooms-header .toggle .line {
	height: 1px;
	margin-top: 4px;
	width: 40%;
    background: var(--active-color);
}
.room-list .rooms-header .toggle li {
	padding: 0 6px;
	margin: 0;
	font-size: .9em;
	user-select: none;
	cursor: pointer;
	color: var(--color);
}
.room-list .rooms-header .toggle .active {
	font-weight: 500;
	color: inherit;
	color: var(--active-color);
}

/* список комнат */
.all-rooms {
	padding-top: 30px;
	background: transparent;
	width: 100%;
	display: flex;
}
.all-rooms .col1 {
	width: 30%;
}
.all-rooms .col2 {
	width: 70%;
	padding-left: 5%;
	padding-bottom: 30px;
}

/* search-section */

.all-rooms .section-search-block {
	position: relative;
	padding: 0px 0 25px 0%;
}
.all-rooms .section-search {
	width: 100%;
	background: var(--light-background);
	padding: 6px 26px;
	border: 0;
	font-size: .85em;
	border-radius: 3px;
	color: inherit;
}
.all-rooms .section-search-block .icon {
	position: absolute;
	left: 5px;
	top: 5px;
	color: #8f8f91;
	font-size: 1.05em;
}
.all-rooms .section-search:focus {
	outline: 0;
}
/* комната в списке */

.all-rooms .room {
	padding: 5px;
	border-radius: 3px;
	font-size: .9em;
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	background: var(--middle-background);
	display: flex;
}
.all-rooms .room:nth-child(2n) {
	margin-left: 0%;
}

.all-rooms .room .room-info {
	padding: 0;
	height: 54px;
	width: 100%;
}
/*
.all-rooms .room .room-cover {
	margin-right: 8px;
	float: left;
	height: 54px;
	width: 54px;
	object-fit: cover;
	border-radius: 0;
	background: transparent;
	border: 2px solid rgba(131,185,229,.8);
}*/
.all-rooms .room h3 {
	font-weight: 500;
	font-size: .95em;
	margin: 0 0 2px 0;
    color: var(--color);
	width: 100%;
    cursor: pointer;
}

.all-rooms .room .room-info .author {
	color: var(--color);
	font-size: .9em;
	display: block;
	margin-bottom: 5px;
}
.all-rooms .room .answers {
	color: var(--pale-color);
	font-size: .85em;
	display: block;
}
.all-rooms .room .answers i {
	display: block;
	float: left;
	margin-right: 3px;
	font-size: 1.15em;
	margin-bottom: 3px;
}
.day-mode .all-rooms .room .answers i {
	color: var(--pale-color);
}
.night-mode .all-rooms .room .answers i {
	color: rgba(255,255,255,.6);
}
.all-rooms .room .new-icon {
	height: 6px;
    width: 6px;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 5px;
    display: block;
    float: left;
    background: var(--SC);
    border-radius: 50%;
	box-shadow: 0 0 3px 2px #fff, /* inner white */ 0 0 4px 2px #f0f, /* middle magenta */ 0 0 5px 2px #0ff;
}

.room-list .tag-search {
	background: var(--dark-background);
}

.all-rooms .tags-block {
	padding: 10px;
	height: auto;
	width: 100%;
	border-radius: 3px;
	margin-top: 10px;
	color: var(--color);
	font-size: 16px;
	background: var(--middle-background);
}
.all-rooms .tags-block h3 {
	font-weight: 500;
	font-size: .9em;
	margin: 0 0 10px 0;
	user-select: none;
}
.all-rooms .tags-block ul li {
	font-weight: 500;
	font-size: .85em;
	margin: 0 0 4px 0;
	width: 100%;
	cursor: pointer;
	user-select: none;
}
.all-rooms .tags-block ul li:hover {
	color: var(--active-color);
}
.room-list .add-btn {
	background: var(--middle-background);
}

@media (max-width: 800px) {
	.room-list header .toggle {
		font-size: .95em;
		position: relative;
		padding: 10px 3%;
		float: left;
	}
	
	.room-list .rooms-header .toggle li:first-child {
		padding-left: 0;
	}

	.mobile-room-list-header {
		display: flex;
		justify-content: space-between;
	}

	.all-rooms .col2 {
		width: 100%;
		padding: 10px 3%;
	}

	.all-rooms {
		padding-top: 15px;
	}

	.all-rooms .add-btn {
		margin: 0 0 0 8px;
		padding: 5px 5px;
		height: 32px;
		width: 32px;
		font-size: 1em;
		text-align: center;
		position: relative;
		z-index: 1;
	}

	.all-rooms .section-search-block {
		width: 85%;
		margin: 0;
	}

	.all-rooms .section-search-block input {
		height: 32px;
	}

	.all-rooms .col1 {
		width: 100%;
	}

	.room-list .simple-btn {
		left: 50%;
		transform: translate(-50%, 0);
	}
}