.login-page {
	padding-top: 20px;
}

.login-page .banner {
    object-fit: cover;
    border-radius: 3px 3px 0 0;
    display: block;
    width: 54%;
    height: 210px;
    margin-left: 23%;
    margin-top: 0;
    position: relative;
    background: var(--LP);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
.login-page h1 {
    font-size: 1.2em;
    position: relative;
    writing-mode: horizontal-tb;
	color: white;
    left: 0;
    top: 0;
}
.login-page .registration-window {
    margin: 0 23% 0 23%;
    width: 54%;
    border-radius: 0 0 3px 3px;
	padding-bottom: 50px;
}

.day-mode .login-page .registration-window {
	background: var(--light-background);
}

.night-mode .login-page .registration-window {
	background: var(--background);
}

.login-page .restore-password-text {
    position: absolute;
    right: 0;
    bottom: -32px;
    font-size: .8em;
}
.login-page .back-arrow {
    margin: 10px 0;
    display: inline-block;
}

@media (max-width: 800px) {
    .login-page {
        padding: 10px;
    }
    .login-page .banner {
        width: 100%;
        margin: 0;
    }
    .registration-page .registration-window {
        width: 100%;
        margin: 0;
    }
}