.login-page {
	padding-top: 20px;
    background: var(--LP);
    background-size: cover;
} 

.login-page .registration-window {
	padding: 38px!important;
    border: 0;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    backdrop-filter: blur(2px);
    background: rgba(26, 27, 32, 0.3);
}

.login-page .registration-window .blur-bg {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
    opacity: .4;
}

.login-page .registration-window .content-container {
    position: relative;
}

.registration-page .send-btn {
    width: 100%!important;
    background: var(--dark-border)!important;
}

.login-page .sitename {
    font-size: 13px;
    color: var(--active-color);
}

.login-page .registration-invite {
	color: var(--active-color);
	font-size: .85em;
    margin-bottom: 5px;
    text-align: center;
}

.login-page .registration-invite a {
	color: white;
    font-weight: 500;
}

.login-page h1 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
    position: relative;
    writing-mode: horizontal-tb;
	color: white;
    left: 0;
    top: 0;
    opacity: .9;
}

.login-page .registration-window {
    margin: 0 38%;
    width: 24%;
    border-radius: 3px;
}

.day-mode .login-page .registration-window {
	background: var(--transparent-background);
}

.night-mode .login-page .registration-window {
	background: var(--transparent-background);
}

.login-page .restore-password-text {
    position: absolute;
    right: 0;
    bottom: -28px;
    font-size: 12px;
}
.login-page .back-arrow {
    margin: 10px 0;
    display: inline-block;
}


@media (max-width: 800px) {
    .login-page {
        padding: 10px;
    }
    .login-page .banner {
        width: 100%;
        margin: 0;
    }
    .registration-page .registration-window {
        width: 100%;
        margin: 0;
    }
}