.login-page {
	padding-top: 20px;
    background: var(--LP);
    background-size: cover;
}

.login-page .sitename {
    font-size: 13px;
    color: var(--active-color);
}

.login-page .registration-invite {
	color: var(--pale-color);
	font-size: .85em;
    margin-bottom: 5px;
}

.login-page .registration-invite a {
	color: var(--color);
}

.login-page h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: 300;
    position: relative;
    writing-mode: horizontal-tb;
	color: var(--active-color);
    left: 0;
    top: 0;
    opacity: .9;
}

.login-page .registration-window {
    margin: 0 38%;
    width: 24%;
    border-radius: 3px;
}

.day-mode .login-page .registration-window {
	background: var(--transparent-background);
}

.night-mode .login-page .registration-window {
	background: var(--transparent-background);
}

.login-page .restore-password-text {
    position: absolute;
    right: 0;
    bottom: -28px;
    font-size: 12px;
}
.login-page .back-arrow {
    margin: 10px 0;
    display: inline-block;
}

@media (max-width: 800px) {
    .login-page {
        padding: 10px;
    }
    .login-page .banner {
        width: 100%;
        margin: 0;
    }
    .registration-page .registration-window {
        width: 100%;
        margin: 0;
    }
}