.middle-content-block {
    margin-top: 30vh;
}
.center-container {
    display: flex;
    justify-content: center;
}
.text-block {
    background: transparent;
    background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid #222329;
    padding: 10px;
    width: 40%;
    border-radius: 2px;
    line-height: 1.8em;
    font-size: .9em;
    height: 100%;
}
.center-container .text-block {
	user-select: none;
	display: flex;
}
.text-block main {
	width: 100%;
}
.text-block img {
    width: 60px;
    margin-right: 10px;
    float: left;
    margin-top: 5px;
    margin-bottom: 20px;
}
.text-block .message-page-icon {
    font-size: 1.5em;
    display: block;
    margin-right: 15px;
    float: left;
    margin-top: 5px;
    color: var(--SC);
    margin-bottom: 50px;
}
.text-block .text-btn {
    display: block;
    font-size: 13px;
    margin: 0;
}
.text-block .result-text {
    color: var(--color);
    margin-right: 8px;
    display: block;
    font-size: 13px;
}
.text-block a {
    display: inline-block;
    font-size: .9em;
}
.text-block a:hover {
    text-decoration: underline;
}

.confirm-code-form .simple-input {
	border: 0;
	width: 80%;
    border-radius: 3px;
    padding: 8px 10px;
    color: var(--color);
	height: 30px;
	background: var(--light-background);
	border: 1px solid var(--border);
	margin: 8px 0 5px 0;
}
.confirm-code-form .small-btn {
	padding: 0 5px;
	font-size: 1.5em;
	border: 0;
	background: transparent;
	border: 0;
    vertical-align: middle;
    color: var(--active-color);
	cursor: pointer;
}
.confirm-code-form .error-msg {
	font-size: 13px;
	margin: 0;
}

.exit-btn {
	float: right;
	display: block;
}


@media (max-width: 800px) {
    .text-block {
        width: 94%;
    }
}