.profile-page {
	padding: 20px 15% 100px 15%;
	scrollbar-width: none;
	position: relative;
	height: 100vh;
	overflow-y: auto;
	font-size: .9em;
}
.profile-page::-webkit-scrollbar {
    width: 5px;
	background: transparent;
}
.profile-page::-webkit-scrollbar-thumb {
	border-radius: 3px;
    background-color: #2b2c31;
}
.profile-page .back-arrow {
	height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 8px;
    padding: 5px 3px;
    color: #9b9797;
    font-size: 1em;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(171, 205, 239, 0.1);
    background: linear-gradient(0deg, rgba(171, 205, 239, 0.1769083) 0%, rgba(171, 205, 239, 0.196534) 99%);
}
.profile-page .back-arrow:hover {
	color: rgba(255, 255, 255, .6);
	border: 1px solid rgba(255, 255, 255, .1);
}
/* шапка */
.profile-page .main-profile-header {
	height: 260px;
	margin-top: 0;
	position: relative;
}
.profile-page .user-info {
	position: relative;
	height: 40px;
	padding: 8px 1%;
	display: flex;
	width: 100%;
    background: #2b2c31;
    border-radius: 0 0 3px 3px;
	z-index: 1;
}
.profile-page .main-profile-header .cover {
	width: 100%;
	height: 220px;
	object-fit: cover;
    position: sticky;
	top: 0;
    z-index: 1;
	border: 0;
	border-radius: 3px 3px 0 0;
	user-select: none;
	user-drag: none;
	display: block;
}
.profile-page .main-profile-header .cover-block {
	width: 100%;
	height: 220px;
	object-fit: cover;
    position: relative;
    z-index: 1;
	border: 0;
	border-radius: 3px 3px 0 0;
	user-select: none;
	user-drag: none;
	display: block;
	background: var(--DC);
	background-size: cover;
}
.profile-page .main-profile-header .cover[src=""] {
	background: var(--DC);
	background-size: cover;
}
.profile-page .main-profile-header .avatar {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
    z-index: 2;
	position: relative;
	margin-top: -98px;
	border: 3px solid #c2c2c4;
}
.profile-page .main-profile-header .base-avatar {
	width: 120px;
	height: 120px;
    z-index: 2;
	position: absolute;
	border: 3px solid #c2c2c4;
	bottom: 10px;
	display: inline-block;
}
.profile-page .main-profile-header .avatar[src=""] {
	background: var(--DA);
	background-size: cover;
}
.profile-page .main-profile-header h3 {
	margin: 0 0 0 5px;
	font-weight: 500;
    font-size: 1.1em;
	color: inherit;
}
/* основное содержание */
.profile-page .content {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.profile-page .col1 {
	width: 63%!important;
	text-align: left;
	padding: 0 0;
}
.profile-page .col2 {
	width: 30%!important;
	padding: 0!important;
	margin: 0!important;
}
.profile-page .post {
	font-size: 1em;
	color: #8f8f91;
}
.profile-page .post h2 {
	margin: 0;
	font-size: 1em;
}v
.profile-page .post header {
	background: transparent;
	padding: 3px;
	border-radius: 2px 2px 0 0;
}
.profile-page .post main .null-post {
	padding: 30px 20px!important;
	text-align: center;
	line-height: 1.6em;
}
.profile-page .post main .null-post i {
	font-size: 1.1em;
	margin-right: 8px;
}
.profile-page .post header ul {
	font-size: 1.1em;
	font-weight: 500;
	margin: 0;
	display: flex;
}
.profile-page .post header ul li {
	font-weight: 500;
	margin-right: 1%;
	padding: 5px;
	cursor: pointer;
}
.profile-page .post header ul li:hover {
	background: #6694a2;
	color: #1a1b20 !important;
}
.profile-page .post main {
	overflow: hidden;
}
.profile-page .col1 .post main p {
	margin: 5px 0;
	font-size: 1em;
	line-height: 1.6em;
	padding: 10px;
	background: #26272c;
	border-radius: 3px;
}
.profile-page .col1 .post main img {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	margin: 10px 0 0 0;
	display: block;
	border-radius: 3px;
}
.profile-page .post .spec-msg {
	background: #26272c;
	color: #8f8f91;
	padding: 8px;
	font-size: .95em;
	border-radius: 0 0 2px 2px;
}
.profile-page .col2 .profile-info {
	border-radius: 2px;
	background: #26272c;
	font-size: .95em;
	margin-bottom: 20px;
}
.profile-page .col2 .profile-info header {
	background: #1e1f25;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	padding: 8px;
	border-radius: 2px 2px 0 0;
}
.profile-page .col2 .profile-info header h4 {
	font-size: .95em;
	font-weight: 500;
	margin: 0;
}
.profile-page .col2 .profile-info {
	border: 0;
}
.profile-page .col2 .profile-info li {
	font-size: .9em;
	text-align: left;
	display: flex;
	padding: 8px;
	font-size: .95em;
}
.admin-list .profile-page .col2 .profile-info li {
	margin-bottom: 0;
}
.profile-page .col2 .profile-info li:last-child {
	border-bottom: 0;
}
.profile-page .col2 .profile-info li .title {
	width: 25%;
	display: block;
    color: #8f8f91;
}
.profile-page .col2 .profile-info li .text {
	width: 70%;
	display: block;
	word-wrap: break-word;
}
.profile-page .col2 .profile-system-updates {
	max-height: 180px;
	overflow-y: auto;
	scroll-width: none;
}
.profile-page .col2 .profile-system-updates::-webkit-scrollbar {
    width: 4px;
	background: transparent;
}
.profile-page .admin-icon {
	border: 1px solid rgba(255, 255, 255, 0.05);
	color: #888;
	background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
	border-radius: 3px;
	position: absolute;
	right: 10px;
	top: auto;
	margin-top: -2px;
	font-size: 1.3em;
	cursor: pointer;
}

.profile-page .admin-icon:hover::after {
	content: "Модератор";
	background: #1a1b20bf;
	color: #888;
	height: auto;
	width: auto;
	position: absolute;
	top: -24px;
	right: 0;
	font-family: inherit;
	font-size: .75em;
	padding: 1px 2px;
	border-radius: 2px;
}
.settings-page .form-field .avatar-img {
	margin-top: 10px;
}


@media (max-width: 800px) {
	.profile-page {
		padding: 0;
	}
	.profile-page .content {
		display: block;
		margin-top: 20px;
		padding: 10px 3% 100px 3%;
	}
	.profile-page .col1 {
		width: 100% !important;
		margin-bottom: 20px;
	}
	.profile-page .col2 {
		width: 100%!important;
		margin-bottom: 50px!important;
	}
}