.registration-code-block {
    padding: 30px 5%;
    width: 80%;
    font-size: 2.2em;
}
.registration-code-block .textsmile {
    font-size: 1.5em;
}
.registration-code-block p {
    line-height: 2.1em;
    width: 80%;
    margin: 20px 0;
}
.registration-code-block p .invite-page-icon {
    font-size: 1.7em;
    margin-bottom: 50px;
    display: block;
}
.registration-code-block form {
    margin-top: 80px;
}
.registration-code-block input {
    background: rgba(38, 39, 44, 0.5);
    padding: 20px;
    width: 70%;
    outline: 0;
    border: 0;
    border-radius: 4px;
    height: 60px;
    float: left;
    margin-right: 1%;
    color: #c2c2c4;
    font-family: inherit;
    font-size: .9em;
}
.registration-code-block button {
    display: block;
    padding: 8px auto;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: linear-gradient(158deg, rgba(171, 249, 251, 0.6) 0%, rgba(150, 227, 243, 0.6) 34%, rgba(141, 206, 235, 0.7) 62%, rgba(131, 185, 229, 0.8) 72%);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    cursor: pointer;
    height: 60px;
    width: 15%;
    text-align: center;
    font-size: .85em;
}
.registration-code-block .error-msg {
    font-size: .7em;
}


@media (max-width: 800px) {
    .registration-code-block {
        padding: 30px 3%;
        width: 100%;
        font-size: 1.1em;
    }

    .registration-code-block input {
        float: none;
        width: 100%;
        margin-bottom: 8px;
        height: auto;
        padding: 8px 12px;
    }

    .registration-code-block button {
        width: 100%;
        height: auto;
        padding: 5px 12px;
    }
    .registration-code-block p {
        width: 100%;
        margin: 0;
    }
}