.registration-page {
	padding: 0;
	position: relative;
	background: var(--dark-background);
	min-height: 100vh;
	padding-top: 100px;
}
.registration-page .banner {
	margin-top: 0;
	object-fit: cover;
	border-radius: 0;
	display: block;
	width: 100%;
	height: 210px;
	position: fixed;
	z-index: 1;
	top: 0;
	background: var(--RP);
	background-size: cover;
}
.registration-page h1 {
	font-size: 2.5em;
	font-weight: 500;
	margin: 0;
	color: var(--color);
	position: absolute;
	writing-mode: tb-rl;
	left: -10%;
	top: 10px;
	z-index: 2;
	width: 10%;
	padding-right: 20px;
	opacity: .9;
}
.registration-page .registration-window {
	padding: 50px 3%;
	background: var(--background);
	width: 60%;
	margin: 0 20% 50px 20%;
	margin-top: 0!important;
	z-index: 2;
	position: relative;
	border-radius: 3px;
}

.no-banner-window {
	margin-top: 8vh!important;
}

.night-mode .registration-window .send-btn {
	background: #333438;
}

.night-mode .simple-form .inputWrapper input {
	background: #2b2c31;
}

.registration-window .send-btn:hover {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%)!important;
    color: white;
    cursor: pointer;
}

.registration-window .send-form-block {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.registration-window .krutilka {
	font-size: 1.2em;
	position: absolute;
	bottom: -23px;
	text-align: center;
	width: 100%;
	color: var(--color);
}

.moderation-card .form-group:last-child {
	border-bottom: 0;
}


@media (max-width: 800px) {
	.registration-page .registration-window {
		margin-top: 0 !important;
		height: 100%;
		min-height: 100vh;
		padding-top: 30px;
	}

	.registration-page h1 {
		position: relative;
		writing-mode: lr;
		font-size: 1.2em;
		left: 0;
		top: 0;
	}
	
	.registration-page .banner {
		position: relative;
		height: 120px;
	}
	
	.profile-create-page p {
		font-size: 14px;
		line-height: 1.5em;
	}
	
	.simple-form .form-group {
		padding: 0;
	}
	
	.simple-form .form-group p {
		font-size: 14px;
	}
	
	.error-block {
		margin-bottom: 10px;
	}
}