.registration-page {
	padding: 0;
	position: relative;
}
.registration-page .banner {
	margin-top: 0;
	object-fit: cover;
	border-radius: 0;
	display: block;
	width: 100%;
	height: 210px;
	position: fixed;
	z-index: 1;
	top: 0;
	background: var(--RP);
	background-size: cover;
}
.registration-page h1 {
	font-size: 2.5em;
	font-weight: 400;
	margin: 0;
	color: rgb(194, 194, 196);
	position: absolute;
	writing-mode: tb-rl;
	left: -10%;
	top: 10px;
	z-index: 2;
}
.registration-page .registration-window {
	padding: 50px 3%;
	background: #26272c;
	width: 60%;
	margin: 150px 20% 50px 20%;
	z-index: 2;
	position: relative;
	border-radius: 3px;
}

.no-banner-window {
	margin-top: 8vh!important;
}

.registration-window .send-btn:hover {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    color: white;
    cursor: pointer;
}

.registration-window .send-form-block {
	position: relative;
	width: 30%;
	margin: 0 auto;
}
.registration-window .send-form-block i {
	font-size: 1.2em;
	margin-left: 70px;
}


@media (max-width: 800px) {
	.registration-page .registration-window {
		margin-top: 0 !important;
		height: 100vh;
	}

	.registration-page h1 {
		position: relative;
		writing-mode: lr;
		font-size: 1.2em;
		left: 0;
		top: 0;
	}
}