.tag-search-block {
	position: relative;
}
.simple-form .tag-search-block{
	width: 40%;
}
.tag-search-block .icon {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #8f8f91;
	font-size: 1em;
}
.tag-search:focus {
	outline: 0;
}
.tag-search-block .tag-list {
	margin-top: 0;
}
.tag-search-block .tag-list li  {
	padding: 3px 6px;
	margin: 2px 5px;
	font-size: 13px;
	color: var(--color);
	border-radius: 2px;
	display: inline-block;
    background: transparent;
	user-select: none;
}

.tag-search-block .tag-list li i {
	cursor: pointer;
}
.tag-search-block .selected-tags {
	margin-top: 5px;
}
.tag-search-block .selected-tags li  {
	padding: 3px 6px;
	margin: 2px 5px;
	font-size: 13px;
	color: var(--color);
	border-radius: 2px;
	display: inline-block;
    background: var(--middle-background);
	user-select: none;
}

.tag-search-block .selected-tags li:first-child {
	margin-left: 0;
}

.tag-search-block .selected-tags li i {
	cursor: pointer;
}
.tag-search-block .inputWrapper input {
	width: 100%!important;
}
.tag-search {
	width: 100%;
	background: var(--dark-background);
	border: 0;
	padding: 5px 10px;
	margin: 0;
	border-radius: 4px;
	color: var(--pale-color);
}

.border-line {
    width: 100%;
    height: 1px;
    background: var(--transparent-border);
    margin-top: 8px;
    margin-left: 0;
}
.tag-search-block .search-result {
	background: var(--transparent-background);
	width: 100%;
	border-radius: 3px;
	padding: 5px 0;
	font-size: .9em;
	border: 1px solid var(--transparent-border);
	position: absolute;
	top: 25px;
    transition: .1s;
    z-index: 1;
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
	scrollbar-width: none;
}
.tag-search-block .search-result li {
	padding: 0;
	cursor: pointer;
	width: 100%;
}
.tag-search-block .search-result::-webkit-scrollbar {
    width: 5px;
	background: transparent;
}
.tag-search-block .search-result::-webkit-scrollbar-thumb {
	border-radius: 4px;
    background-color: var(--middle-background);
}

/* input выбора тега */
.inputWrapper .tags-select-input {
    border: 1px solid var(--dark-border)!important;
    border-radius: 2px!important;
    color: var(--color)!important;
    background: transparent!important;
    padding: 5px 10px!important;
    font-size: 13px;
    width: 100%;
	height: auto;
}
.inputWrapper .tags-list {
    height: 25vh;
    background: var(--transparent-background);
    border: 1px solid var(--border);
    border-radius: 2px 2px;
    position: absolute;
    top: -25.5vh;
    width: 100%;
    padding: 5px;
}
.inputWrapper .tag-search-block .search-result li {
    background: transparent;
}
.inputWrapper .tag-search-block .selected-tags li  {
	margin:  3px 5px 0 0!important;
}

@media (max-width: 800px) {
	.tag-search {
		padding: 5px 0;
	}

	.all-rooms .tags-block {
		background: transparent;
		padding: 0;
		margin-top: 30px;
	}

	.simple-form .tag-search-block {
		width: 70%;
	}

	.simple-form .inputWrapper .tags-select-input {
		font-size: 13px !important;
		height: 30px;
		width: 100% !important;
	}
}