.reports-section h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.reports-section header .text-btn {
    font-size: .95em;
    margin: 20px 0;
    display: block;
}
.reports-section .reports-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.reports-section .reports-list .report {
    background: rgba(36, 37, 41, 0.9);
    border-radius: 3px;
    padding: 15px;
    width: 31%;
    margin-right: 3%;
    margin-bottom: 20px;
}
.reports-section .reports-list .report:nth-child(3n) {
    margin-right: 0;
}

.reports-section .reports-list .report h3 {
    font-weight: 400;
    margin: 0;
    font-size: .9em;
    color: #888;
}
.reports-section .reports-list .report h3 a {
    color: var(--blue);
}
.reports-section .reports-list .report p {
    font-size: .85em;
    margin: 5px 0;
    line-height: 1.5em;
    color: #888;
}
.reports-section .reports-list .report .created-at {
    color: #888;
    font-size: .85em;
}
.reports-section .reports-list .report .btns {
    margin-top: 10px;
}
.reports-section .reports-list .report .btn {
    background: #2b2c31;
    padding: 4px 6px;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 0.8em;
    margin-bottom: 8px;
    display: block;
    color: #8f8f91;
}
.reports-section .reports-list .report .btn .btn {
    margin-bottom: 0;
    font-size: 13px;
    padding: 2px 6px;
}
.black-list h3 {
    font-weight: 500;
    text-decoration: underline;
    font-size: 1em;
    color: #888;
}
.black-list ul {
    margin-top: 30px;
}
.black-list ul li {
    display: flex;
    margin-bottom: 20px;
}
.black-list ul li h4 {
    font-weight: 400;
    display: inline-block;
    font-size: .9em;
    margin: 0;
    color: #888;
}
.black-list ul li .text-btn {
    font-size: .95em;
    display: block;
    margin: 0 15px;
}
.reports-section .simple-button {
    font-size: 14px;
    display: inline-block;
}
