<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" type="image/x-icon" href="https://2.downloader.disk.yandex.com.am/preview/008f0d374a5408c55fe5cd1766a5a06e62d608596d9f3975667d7379fa266020/inf/lt6MpNm4QURXAxIKG-g0OFEVO74drUvl8JvkQMxFlmkb7yB3NCsb89dojCrhDlyM67pv1Mdgom5-EF0P35rQHQ%3D%3D?uid=1484373914&filename=logo.png&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1484373914&tknv=v2&size=1297x648">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <title>Почта ветров</title>
</head>
<body>
<div id="app">
    <!-- Запускаем react-приложение -->
</div>
</body>
{% load static %}
<script src="{% static "frontend/csrftoken.js" %}"></script>
<script src="{% static "frontend/main.js" %}"></script>
<script src="{% static "frontend/scripts.js" %}"></script>
</html>