.error-page {
    font-size: 1em;
    padding: 10vh 25%;
	min-height: 100vh;
	color: var(--color);
}

.error-msg-header {
    font-size: 2em;
    width: 70%;
    height: auto;
    color: white;
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: 3px solid var(--SC);
    overflow-wrap: break-word;
}

.error-msg-header a {
    padding-top: 2vh;
    text-decoration: underline;
    display: block;
}

.walk-img {
	height: 180px;
    width: 180px;
    float: left;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 30px;
    background: var(--EP);
    background-size: cover;
    border-radius: 3px;
}
.error-page p {
    line-height: 1.5em;
}


@media (max-width: 800px) {
    .error-page {
        padding: 8vh 5%;
        font-size: 1.2em;
    }

    .error-msg-header {
        width: 100%;
    }

    .walk-img {
        height: 210px;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
}