@font-face {
    font-family: d8;
    src: url(../../../../static/frontend/fonts/d8.ttf);
}
@font-face {
    font-family: Chava;
    src: url(../../../../static/frontend/fonts/chava.ttf);
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	--background: #f6f7f9;
	--dark-background: #ececed;
	--middle-background: #fdfeff;
	--light-background: #fdfeff;
	--middle-dark-background: #ececed;
	--super-light-background: white;
	--transparent-background: #fefefefa;
	--transparent-span: rgba(255, 255, 255, .35);
	--pale-background: rgba(255, 255, 255, 0.7);
	--gradient-background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
	--color: #101011e5;
	--active-color: black;
	--pale-color: #767575;
	--middle-color: #545454;
	--border: #eceff2;
	--dark-border: #cfd1d3;
	--transparent-border: rgba(0, 0, 0, 0.05);
	--active-border: 1px solid rgba(0, 0, 0, 0.2);
	
	background: var(--dark-background);
	min-height: 100vh;
}

.day-mode {
	--background: rgb(245,246,248);
	--dark-background: rgb(237,238,240);
	--middle-background: #fdfeff;
	--light-background: #fdfeff;
	--middle-dark-background: rgb(237,238,240);
	--super-light-background: white;
	--transparent-background: #fefefefa;
	--transparent-span: rgba(255, 255, 255, .35);
	--pale-background: rgba(255, 255, 255, 0.7);
	--gradient-background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
	--color: #101011e5;
	--active-color: black;
	--pale-color: #767575;
	--middle-color: #545454;
	--border: #eceff2;
	--dark-border: #cfd1d3;
	--transparent-border: rgba(0, 0, 0, 0.05);
	--active-border: 1px solid rgba(0, 0, 0, 0.2);
	
	background: var(--background);
}

.night-mode {
	--background: #26272c;
	--dark-background: #1a1b20;
	--middle-background: #2b2c31;
	--light-background: #333438;
	--middle-dark-background: #1a1b20;
	--transparent-background: rgba(26, 27, 32, 0.9);
	--pale-background: rgba(38, 39, 44, 0.5);
	--gradient-background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
	--transparent-span: rgba(0, 0, 0, .25);
	--color: #cdc8c8;
	--middle-color: #acaeb7;
	--active-color: rgba(255,255,255,.8);
	--pale-color: #888;
	--border: #505053;
	--dark-border: rgba(255,255,255,.2);
	--active-border: 1px solid rgba(255, 255, 255, 0.2);
	--transparent-border: rgba(255, 255, 255, 0.04);
	
	background: var(--background);
}

h1 {
	font-size: 1.8em;
	color: var(--color);
}

h2 {
	color: var(--color);
}

h3 {
	color: var(--color);
}

h4 {
	color: var(--color);
}

.hide {
	display: none!important;
}
.hidden {
	opacity: 0!important;
}

ul {
	list-style: none;
    padding: 0;
    margin: 0;
}
.flex {
	display: flex;
}

a {
	text-decoration: none;
	color: inherit;
}

a:focus {
	outline: 0;
}
.hidden-y-scroll {
	overflow-y: hidden;
}

.loading-icon {
	font-size: 1.4em;
	color: var(--color);
	margin: 0;
	padding: 0;
}

.error-text {
	font-size: 13px;
	color: var(--page-color);
}

input {
	font-family: inherit;
	color: inherit;
}
input:focus {
	outline: 0;
}
button:focus {
	outline: 0;
}
.member-card {
	display: flex;
}
.member-card h3 {
	margin: 10px 10px;
	font-size: 1em;
	font-weight: 500;
}
.container {
    width: 100%;
    padding: 0 15%;
}
.center-container {
	min-height: 100vh;
}
.transparent-btn {
	width: auto;
    display: inline-block;
    font-size: 13px;
    padding: 5px 8px;
    font-weight: 400;
    border-radius: 3px;
	cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.05);
	color: #888;
    background: linear-gradient(0deg, rgba(171, 205, 239, 0.0769083) 0%, rgba(171, 205, 239, 0.0396534) 99%);
}
.transparent-btn:hover {
	color: rgba(255, 255, 255, .6);
	border: 1px solid rgba(255, 255, 255, .1);
}
.add-btn {
	padding: 6px 15px;
    font-size: .8em;
    height: auto;
    display: inline-block;
    margin-top: 0;
    border-radius: 3px;
    margin-left: 0;
    color: var(--color);
    background: var(--background);
    cursor: pointer;
	user-select: none;
}

.active-text {
	color: var(--active-color)!important;
}

.mute-text {
	color: var(--pale-color);
}

.right-align {
	text-align: right;
}

.pale-text {
	color: var(--pale-color);
}

.underline-hover {
	user-select: none;
}

.underline-hover:hover {
	text-decoration: underline;
	cursor: pointer;
}

.simple-button {
	background: var(--light-background);
    padding: 4px 6px;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 13px;
    margin-bottom: 8px;
    display: block;
    color: var(--color);
}

.error-msg {
	font-size: 13px;
}


/* базовые изображения */
.avatar {
	height: 36px;
	width: 36px;
	object-fit: cover;
	border-radius: 50%;
}

.small-logo {
    height: 30px;
}

.logo-img {
    height: 64px;
}

.smile {
    height: 24px;
    width: 24px;
    object-fit: contain;
	margin: 0 3px;
	user-select: none;
	vertical-align: middle;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}