body {
    --violet: transparent;
    --red: transparent;
    --blue: transparent;
    --d_blue: transparent;
    --green: transparent;
    --yellow: transparent;
    --cherry: transparent;
    --pink: transparent;
    --gray: transparent;
    --orange: transparent;
    --white: transparent;
    --black: transparent;

    --SC: #888;
    --AB: transparent;
    --EMC: transparent;
    --MC: transparent;
    --DAC: transparent;
    --EC: transparent;
    --SO: #888;
    --VB: #888;
    --DC: transparent;
}

.color-name {
	color: rgb(110,144,171);
}

/* цвета палетки */
.violet-block {
    background: var(--violet)!important;
    border: 1px solid var(--violet)!important;
}
.red-block {
    background: var(--red)!important;
    border: 1px solid var(--red)!important;
}
.d_blue-block {
    background: var(--d_blue)!important;
    border: 1px solid var(--d_blue)!important;
}
.green-block {
    background: var(--green)!important;
    border: 1px solid var(--green)!important;
}
.yellow-block {
    background: var(--yellow)!important;
    border: 1px solid var(--yellow)!important;
}
.cherry-block {
    background: var(--cherry)!important;
    border: 1px solid var(--cherry)!important;
}
.pink-block {
    background: var(--pink)!important;
    border: 1px solid var(--pink)!important;
}
.blue-block {
    background: var(--blue)!important;
    border: 1px solid var(--blue)!important;
}
.gray-block {
    background: var(--gray)!important;
    border: 1px solid var(--gray)!important;
}
.orange-block {
    background: var(--orange)!important;
    border: 1px solid var(--orange)!important;
}
.white-block {
    background: var(--white)!important;
    border: 1px solid var(--white)!important;
}
.black-block {
    background: var(--black)!important;
    border: 1px solid var(--black)!important;
}

.white {
    color: var(--white)!important;
}
.black {
    color: var(--black)!important;
}
.violet {
    color: var(--violet)!important;
}
.red {
    color: var(--red)!important;
}
.d_blue {
    color: var(--d_blue)!important;
}
.green {
    color: var(--green)!important;
}
.yellow {
    color: var(--yellow)!important;
}
.cherry {
    color: var(--cherry)!important;
}
.pink {
    color: var(--pink)!important;
}
.blue {
    color: var(--blue)!important;
}
.gray {
    color: var(--gray)!important;
}
.orange {
    color: var(--orange)!important;
}
.main-color {
    color: var(--SC)!important;
}
.warning {
    color: #F56C6C;
}

/* цветная полоса вверху */
.MC {
    background: var(--MC);
}
.DAC {
    background: var(--DAC);
}
.EMC {
    background: var(--EMC);
}
.EC {
    background: var(--EC);
}