body {
    --violet: #8673A1;
    --red: #fc5e53;
    --blue: #6694a2;
    --d_blue: #409eff;
    --green: #8ccc5e;
    --yellow: #ffcf3f;
    --cherry: #993365;
    --pink: #ffcada;
    --gray: #c2c2c4;
    --orange: #f8943c;

    --SC: #1999ff;
    --RN: #6b99ad;
    --AB: rgba(124, 161, 210, 0.6);
    --EMC: #1999ff;
    --MC: #1999ff;
    --DAC: rgba(124, 161, 210, 0.6);
    --EC: #fdefa1;
    --SO: #699754;
    --VB: linear-gradient(158deg, rgba(171, 249, 251, 0.6) 0%, rgba(150, 227, 243, 0.6) 34%, rgba(141, 206, 235, 0.7) 62%, rgba(131, 185, 229, 0.8) 72%);
    --DC: rgba(124, 161, 210, 0.6);
}

/* цвета палетки */
.violet-block {
    background: var(--violet)!important;
}
.red-block {
    background: var(--red)!important;
}
.d-blue-block {
    background: var(--d_blue)!important;
}
.green-block {
    background: var(--green)!important;
}
.yellow-block {
    background: var(--yellow)!important;
}
.cherry-block {
    background: var(--cherry)!important;
}
.pink-block {
    background: var(--pink)!important;
}
.blue-block {
    background: var(--blue)!important;
}
.gray-block {
    background: var(--gray)!important;
}
.orange-block {
    background: var(--orange)!important;
}

.violet {
    color: var(--violet)!important;
}
.red {
    color: var(--red)!important;
}
.d-blue {
    color: var(--d_blue)!important;
}
.green {
    color: var(--green)!important;
}
.yellow {
    color: var(--yellow)!important;
}
.cherry {
    color: var(--cherry)!important;
}
.pink {
    color: var(--pink)!important;
}
.blue {
    color: var(--blue)!important;
}
.gray {
    color: var(--gray)!important;
}
.orange {
    color: var(--orange)!important;
}
.main-color {
    color: var(--SC)!important;
}
.warning {
    color: #F56C6C;
}

/* цветная полоса вверху */
.MC {
    background: var(--MC);
}
.DAC {
    background: var(--DAC);
}
.EMC {
    background: var(--EMC);
}
.EC {
    background: var(--EMC);
}